.contacts {
  padding-top: 250px;
  padding-bottom: 92px;
  background-color: $white-color;

  @media (max-width: $tablet-width-max) {
    padding-top: 149px;
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 119px;
    padding-bottom: 47px;
  }
}

.contacts p {
  margin: 0 auto;
  margin-bottom: 40px;
  padding-right: 16px;
  width: 555px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  opacity: 0.7;

  @media (max-width: $tablet-width-max) {
    padding-right: 0;
    width: 91%;
    margin-bottom: 19px;
  }

  @media (max-width: $mobile-width-max) {
    width: 80%;
  }
}

.contacts img {
  margin-bottom: 36px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 16px;
    height: 545px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 27px;
    width: 100%;
    height: 250px;
  }
}

.contacts__container {
  width: 957px;

  @media (max-width: $tablet-width-max) {
    width: 698px;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
  }
}

.contacts h2 {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $features-title-color;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 25px;
  width: 531px;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    padding-left: 48px;
    width: auto;
  }
}

.contacts__link {
  position: relative;
  color: $text-color;
  opacity: 0.5;

  &::before {
    position: absolute;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &--mail {
    &::before {
      content: url("../img/icon-contacts-mail.svg");
      top: 5px;
      left: -42px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 14px;
    }
  }

  &--phone {
    &::before {
      content: url("../img/icon-contacts-phone.svg");
      top: 2px;
      left: -38px;
    }

    @media (max-width: $mobile-width-max) {
      padding-right: 25px;
    }
  }
}
