.features {
  padding-top: 150px;
  padding-bottom: 153px;
  background-color: $white-color;

  @media (max-width: $tablet-width-max) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width-max) {
    padding-bottom: 82px;
  }
}

.features__container {
  width: $features-container-width;

  @media (max-width: $tablet-width-max) {
    width: 556px;
  }

  @media (max-width: $mobile-width-max) {
    width: 292px;
  }
}

.features h2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: $features-title-color;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 32px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 263px 263px 263px 263px;
  gap: 38px;
  counter-reset: section;

  @media (max-width: $tablet-width-max) {
    grid-template-columns: 263px 263px;
    gap: 30px;
    row-gap: 46px;
  }

  @media (max-width: $mobile-width-max) {
    grid-template-columns: auto;
    row-gap: 39px;
  }
}

.features__item {
  position: relative;
  text-align: center;

  &::before {
    display: block;
    counter-increment: section;
    content: "0" counter(section);
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: $button-color;
  }
}

.features p {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;

  @media (max-width: $mobile-width-max) {
    font-size: 18px;
  }
}
