.form form {
  width: 327px;

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-max) {
    width: 90%;
  }
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 51px;
  border: none;
  border-radius: 6px;
  background-color: $button-color;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover-button-color;
    transition: 0.5s;
  }
}

.form p {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;
    font-size: 18px;
    color: $text-color;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 22px;
  }
}

.form__field input {
  margin-bottom: 20px;
  width: 100%;
  height: 48px;
  padding-left: 30px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  background-color: $white-color;
  font-size: 15px;
  line-height: 24px;
  color: $input-text-color;

  &:hover,
  &:focus {
    background-color: $input-hover;
  }

  @media (max-width: $tablet-width-max) {
    padding-left: 24px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 18px;
  }
}
