.main-nav {
  margin-bottom: 256px;

  &--nojs {
    .main-nav__toggle {
      display: none;
    }

    @media (max-width: $tablet-width-max) {
      .main-nav__list {
        display: block;
      }
    }
  }

  &--js {
    @media (max-width: $tablet-width-max) {
      position: absolute;
      width: 100%;
      left: 0;
      z-index: 100;
    }
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 0;
    background-color: $white-color;

    &--closed {
      .main-nav__list {
        display: none;
      }

      .main-nav__toggle {
        &::before {
          box-shadow: 0 6px 0 0 $text-color, 0 12px 0 0 $text-color;
        }
      }
    }

    &--closed-nojs {
      .main-nav__list {
        display: block;
      }
    }

    &--opened {
      position: fixed;
      height: 100vh;

      .main-nav__toggle {
        background-color: transparent;

        &::before,
        &::after {
          width: 23px;
          top: 22px;
          left: 13px;
          background-color: $close-button-color;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-left: 23px;
  border-bottom: 1px solid $nav-border-color;

  @media (min-width: $desktop-width) {
    max-width: 879px;
  }

  @media (max-width: $tablet-width-max) {
    padding-top: 100px;
    padding-bottom: 110px;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__list a {
  font-weight: 300;
  color: $nav-text-color;

  &:hover,
  &:focus,
  &:active {
    color: $white-color;
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-max) {
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: $nav-mobile-text-color;

    &::after {
      position: absolute;
      content: url("../img/icon-arow-nav.svg");
      width: 25px;
      height: 25px;
      right: 20px;
    }
  }
}

.main-nav__item {
  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-right: 134px;
    }
  }

  @media (max-width: $tablet-width-max) {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: $nav-mobile-link-color;
  }
}

.main-nav__toggle {
  display: none;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $button-color;

    &::before {
      content: "";
      position: absolute;
      top: 19px;
      left: 14px;
      width: 22px;
      height: 2px;
      background-color: $text-color;
      transition-property: transform, box-shadow, top;
      transition-duration: 0.3s;
    }
  }
}
