.main-nav {
  margin-bottom: 256px;
  padding-top: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid $nav-border-color;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;

  a {
    font-weight: 300;
    color: $nav-text-color;
  }
}
