.page-header {
  @include bg-image("header-background-desktop@1x.jpg");
  background-position: top center;
  background-color: $bc-header-color;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-max) {
    background-image: none;
  }
}

.page-header h1 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
  }
}

.page-header__container {
  width: $header-container-width;

  @media (max-width: $tablet-width-max) {
    width: auto;
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 240px;
  color: $white-color;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 25px;

    @include bg-image("header-background-tablet@1x.jpg");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-background-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width-max) {
    @include bg-image("header-background-mobile@1x.jpg");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-background-mobile@2x.jpg");
    }
  }
}

.page-header__main {
  width: 381px;

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    margin-bottom: 80px;
    width: auto;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 70px;
  }
}

.page-header__main p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    width: 77%;
    font-size: 18px;
  }

  @media (max-width: $mobile-width-max) {
    width: 83%;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 30px;

  &--disable {
    pointer-events: none;
    cursor: default;
  }

  @media (max-width: $tablet-width-max) {
    position: relative;
    margin-bottom: 88px;
    right: 60px;
    text-align: left;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 74px;
    padding-left: 17px;
    right: 0;
  }
}

.page-header__logo img {
  width: auto;
}

.page-header__form-wrapper {
  padding-top: 4px;

  @media (max-width: $tablet-width-max) {
    padding-top: 70px;
    background-color: $white-color;
  }
}
