.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
}
