$text-color:#000000;
$white-color: #ffffff;
$bc-header-color: #222222;
$nav-text-color: rgba(255, 255, 255, 0.7);
$nav-border-color: rgba(255, 255, 255, 0.2);
$input-text-color:  #1c1c1c;
$input-border-color:  rgba(28, 28, 28, 0.5);
$button-color:#0ad9c6;
$hover-button-color: #08ad9e;
$features-title-color:#1f1f1f;
$products-background-color: #f6f7f9;
$preview-background-color:  #131314;
$nav-mobile-text-color: #48494d;
$nav-mobile-link-color: #f6f6f6;
$close-button-color: rgba(20, 21, 23, 0.2);
$input-hover: #ededed;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$header-container-width: 880px;
$features-container-width: 1166px;
$products-container-width: 1126px;

$img-path: "../img/";
