$text-color:#000000;
$white-color: #ffffff;
$bc-header-color: #222222;
$nav-text-color: rgba(255, 255, 255, 0.7);
$nav-border-color: rgba(255, 255, 255, 0.2);
$input-text-color:  #1C1C1C;
$input-border-color:  rgba(28, 28, 28, 0.5);
$button-color:#0AD9C6;
$features-title-color:#1F1F1F;
$products-background-color: #F6F7F9;
$preview-background-color:  #131314;
$nav-mobile-text-color: #48494D;
$nav-mobile-link-color: #F6F6F6;
$close-button-color: rgba(20, 21, 23, 0.2);

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;

$header-container-width: 880px;
$features-container-width: 1166px;
$products-container-width: 1126px;

$img-path: "../img/";
